<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Introdução

# Importação das Bibliotecas Python

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Aquisição dos Dados

In [52]:
#covidbase = pd.read_csv('https://raw.githubusercontent.com/joaonart/mcz-pl-a4-modelo-ja/master/data/covid_19_clean_complete_2022.csv')
worldpopulation = pd.read_csv('https://raw.githubusercontent.com/joaonart/mcz-pl-a4-modelo-ja/master/data/world_population_2020.csv')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 66

# Exploração Inicial dos Dados

In [3]:
display(covidbase.shape)
display(covidbase.head())
display(covidbase.tail())
display(covidbase.Date.duplicated().sum())
display(covidbase.Date.min(), covidbase.Date.max())
display(covidbase.dtypes)

(214894, 10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
214889,NaN,West Bank and Gaza,31.952200,35.233200,2022-03-04,649971,5557,0,644414,Eastern Mediterranean
214890,NaN,Winter Olympics 2022,39.904200,116.407400,2022-03-04,530,0,0,530,NaN
214891,NaN,Yemen,15.552727,48.516388,2022-03-04,11774,2135,0,9639,Eastern Mediterranean
214892,NaN,Zambia,-13.133897,27.849332,2022-03-04,313613,3958,0,309655,Africa
214893,NaN,Zimbabwe,-19.015438,29.154857,2022-03-04,238739,5397,0,233342,Africa

214121

'2020-01-22'

'2022-03-04'

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
WHO Region         object
dtype: object

# Transformações dos Dados

In [47]:
# Convertendo o tipo da coluna Date pata datetime64
covidbase.Date = pd.to_datetime(covidbase.Date, format='%Y-%m-%d', errors='coerce')
# Renomeando as colunas Province/State, Country/Region e WHO Region
covidbase = covidbase.rename(columns={'Province/State':'Province_State','Country/Region':'Country_Region','WHO Region':'WHO_Region'})
# Removendo os dados das olimpíadas de verão 2020 e olimpíadas de inverno 2022
covidbase = covidbase.loc[covidbase["Country_Region"] != 'Summer Olympics 2020']
covidbase = covidbase.loc[covidbase["Country_Region"] != 'Winter Olympics 2022']
display(covidbase.dtypes)
covidbase.head()

Province_State            object
Country_Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
WHO_Region                object
dtype: object

,Province_State,Country_Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO_Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

# Análise dos Dados

Inicialmente vamos observar o número de registros ausentes, aqui já identificamos que temos uma considerável quantidade de registros ausentes em algumas colunas.

In [48]:
display(covidbase.isnull().sum() / len(covidbase))

Province_State    0.692029
Country_Region    0.000000
Lat               0.007246
Long              0.007246
Date              0.000000
Confirmed         0.000000
Deaths            0.000000
Recovered         0.000000
Active            0.000000
WHO_Region        0.003623
dtype: float64

A primeira pergunta que buscamos responder é qual é o top 10 de países/regiões apresentam o maior número de vitimas do covid 19.

In [49]:
display(covidbase.groupby(['Country_Region'])['Deaths'].max().nlargest(10))
# display(covidbase.groupby('Country_Region') \
#                             .agg(max_deaths = ('Deaths', 'max'), \
#                                  max_confirmed = ('Confirmed', 'max'),
#                                  max_recovered = ('Recovered', 'max')))

Country_Region
US                958144
Brazil            651522
India             514878
Russia            347730
Mexico            319296
Peru              210907
United Kingdom    162008
Italy             155609
Indonesia         149596
Colombia          138984
Name: Deaths, dtype: int64

Nossa segunda pergunta é qual é o top 10 de países/regiões apresentam o menor número de vítimas do covid 19.

In [50]:
display(covidbase.groupby(['Country_Region'])['Deaths'].max().nsmallest(10))

Country_Region
Antarctica           0
Holy See             0
Marshall Islands     0
Micronesia           0
Samoa                0
Tonga                1
Vanuatu              1
Bhutan               6
Palau                6
Kiribati            11
Name: Deaths, dtype: int64

# Exibição dos Resultados

In [ ]:
# Implementar código

# Conclusão