<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Introdução

# Importação das Bibliotecas Python

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Aquisição dos Dados

In [9]:
covidbase = pd.read_csv('https://raw.githubusercontent.com/joaonart/mcz-pl-a4-modelo-ja/master/data/covid_19_clean_complete_2022.csv')

display(covidbase.shape)
display(covidbase.head())
display(covidbase.tail())
display(covidbase.Date.duplicated().sum())
display(covidbase.Date.min(), covidbase.Date.max())
display(covidbase.dtypes)

(214894, 10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
214889,NaN,West Bank and Gaza,31.952200,35.233200,2022-03-04,649971,5557,0,644414,Eastern Mediterranean
214890,NaN,Winter Olympics 2022,39.904200,116.407400,2022-03-04,530,0,0,530,NaN
214891,NaN,Yemen,15.552727,48.516388,2022-03-04,11774,2135,0,9639,Eastern Mediterranean
214892,NaN,Zambia,-13.133897,27.849332,2022-03-04,313613,3958,0,309655,Africa
214893,NaN,Zimbabwe,-19.015438,29.154857,2022-03-04,238739,5397,0,233342,Africa

214121

'2020-01-22'

'2022-03-04'

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
WHO Region         object
dtype: object

# Transformações dos Dados

In [10]:
covidbase.Date = pd.to_datetime(covidbase.Date, format='%Y-%m-%d', errors='coerce')
display(covidbase.dtypes)

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
WHO Region                object
dtype: object

# Análise dos Dados

In [14]:
covidbase.head()
covidbase.loc[covidbase.Deaths.nlargest(5).index][['Province/State','Country/Region','Lat','Long','Date','Confirmed','Deaths','Recovered','Active','WHO Region']]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
214867,NaN,US,40.0,-100.0,2022-03-04,79250509,958144,0,78292365,Americas
214589,NaN,US,40.0,-100.0,2022-03-03,79196008,956261,0,78239747,Americas
214311,NaN,US,40.0,-100.0,2022-03-02,79143716,954518,0,78189198,Americas
214033,NaN,US,40.0,-100.0,2022-03-01,79091361,952423,0,78138938,Americas
213755,NaN,US,40.0,-100.0,2022-02-28,79044330,950732,0,78093598,Americas

# Exibição dos Resultados

In [ ]:
# Implementar código

# Conclusão